.jumbotron {
    margin-left: 27px;
    height: 240px;
    width: 1115px;
}

.aliceblue-text p {
    color: aliceblue;
}

.col-md-12 p {
    color: aliceblue;
}

.header {
    font-style: Montserrat;
    font-size: 40px;
    color:white;
    background-color: black;
}


.footer {
    font-size: 17px;
    color:white;
    background-color: black;
}

body {
    background-color: gray;
}