body {
<<<<<<< HEAD
  font-family: Raleway, Helvetica, Arial, sans-serif;  
}

.bold {
  font-weight: bold;
}

.normal {
  font-weight: normal;
}

.d3-tip {
  z-index: 2;
}

.header {
  position:fixed; 
  height: 95px; 
  width: 100%; 
  z-index: 10;}

  .header {
    background-color: #111;}

    .header h1 {
      margin-top: 15px;
      margin-bottom: 15px;
      margin-left: 10px;
      display: inline;
      float: left;
      color: #c7493a;
      font-weight: bold;
      letter-spacing: 5px;}

    .header h4 {
      color: #bdbaad;
      display: inline;
      float: right;
      margin-top: 35px;
      margin-right: 10px;
      padding-left: 15px;
      border-left: solid 1px;
      border-left-color: #c7493a;}

.content {
  padding-top: 95px;
  padding-left: 0px;
  width: 100%;}

  .content .row {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;}

    .content .row .col-md-2.navigation {
      position:fixed; 
      width: 250px;
      height: 100%; 
      z-index: 10;
      background-color: rgba(101, 116, 106);
      color: white;}

      .content .row .col-md-2.navigation #selCountry {
        color: #111;
      }

    .content .row .col-md-10.dashbard {
      padding-left: 250px;
      padding-top: 5px;
      width: 100%;
      z-index: 1;}

      .content .row .col-md-10.dashbard .col-md-9.map {
        padding-top: 10px;
        width: max-content;}
        
        .content .row .col-md-10.dashbard .col-md-9.map #map{
          height: 600px;
          width: 900px;}

        .content .row .col-md-10.dashbard .col-md-9.map .col-md-6 {
          padding-top: 30px;
          padding-right: 0px;
          padding-left: 0px;}

        .content .row .col-md-10.dashbard .col-md-9.map .self_made_info {
          background-image: url("background2.jpg");
          padding: 50px 0px;}

        .content .row .col-md-10.dashbard .col-md-9.map .status_info {
          background-color: #a33327; 
          opacity: 0.6;
          color: white;
          padding: 50px 0px;}

          .content .row .col-md-10.dashbard .col-md-9.map .self_made_info h3,
          .content .row .col-md-10.dashbard .col-md-9.map .status_info h3 {
            margin: 10px 0px 10px 25px;}

      .content .row .col-md-10.dashbard .col-md-3.pie {
        text-align: center;
        font-size: 16px;
        padding: 5px 0px 0px 0px;
        width: max-content;}

      .content .row .col-md-10.dashbard .col-md-7.bar {
        width: 950px;}

      .content .row .col-md-10.dashbard .col-md-4.infobox {
        width: 590px;}

        .content .row .col-md-10.dashbard .col-md-4.infobox .well h5 {
          color: white;}

        .content .row .col-md-10.dashbard .col-md-4.infobox .well,
        .content .row .col-md-10.dashbard .col-md-4.infobox .panel-heading {
          background-color: rgba(140, 165, 147, 0.8);}

        .content .row .col-md-10.dashbard .col-md-4.infobox .well,
        .content .row .col-md-10.dashbard .col-md-4.infobox .panel.panel-primary,
        .content .row .col-md-10.dashbard .col-md-4.infobox .panel-heading {
          border-bottom-color: rgba(140, 165, 147, 0.9);
          border-left-color: rgba(140, 165, 147, 0.9);
          border-right-color: rgba(140, 165, 147, 0.9);
          border-top-color: rgba(140, 165, 147, 0.9);}

    .content .row #my_dataviz {
      display: flex;
      justify-content: center;
      align-items: center;
    }


.ml1 {
  font-weight: 900;
  font-size: 3.5em;}
  .ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;}
  .ml1 .letters {
    display: inline-block;
    line-height: 1em;}
  .ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #111;
    transform-origin: 0 0;}
  .ml1 .line1 { top: 0; }
  .ml1 .line2 { bottom: 0; }


/* media queries - small size */
@media (max-width: 999px) {
  .header .col-md-12 h4 {
    display: none;
  }}  
  
=======
    font-family: Raleway, Helvetica, Arial, sans-serif;  
  }
  
  .bold {
    font-weight: bold;
  }
  
  .normal {
    font-weight: normal;
  }
  
  .d3-tip {
    z-index: 2;
  }
  
  .header {
    position:fixed; 
    height: 95px; 
    width: 100%; 
    z-index: 10;}
  
    .header {
      background-color: #111;}
  
      .header h1 {
        margin-top: 15px;
        margin-bottom: 15px;
        margin-left: 10px;
        display: inline;
        float: left;
        color: #c7493a;
        font-weight: bold;
        letter-spacing: 5px;}
  
      .header h4 {
        color: #bdbaad;
        display: inline;
        float: right;
        margin-top: 35px;
        margin-right: 10px;
        padding-left: 15px;
        border-left: solid 1px;
        border-left-color: #c7493a;}
  
  .content {
    padding-top: 95px;
    padding-left: 0px;
    width: 100%;}
  
    .content .row {
      width: 100%;
      margin-right: 0px;
      margin-left: 0px;}
  
      .content .row .col-md-2.navigation {
        position:fixed; 
        width: 250px;
        height: 100%; 
        z-index: 10;
        background-color: rgba(101, 116, 106);
        color: white;}
  
        .content .row .col-md-2.navigation #selCountry {
          color: #111;
        }
  
      .content .row .col-md-10.dashbard {
        padding-left: 250px;
        padding-top: 5px;
        width: 100%;
        z-index: 1;}
  
        .content .row .col-md-10.dashbard .col-md-9.map {
          padding-top: 10px;
          width: max-content;}
          
          .content .row .col-md-10.dashbard .col-md-9.map #map{
            height: 600px;
            width: 900px;}
  
          .content .row .col-md-10.dashbard .col-md-9.map .col-md-6 {
            padding-top: 30px;
            padding-right: 0px;
            padding-left: 0px;}
  
          .content .row .col-md-10.dashbard .col-md-9.map .self_made_info {
            background-image: url("background2.jpg");
            padding: 50px 0px;}
  
          .content .row .col-md-10.dashbard .col-md-9.map .status_info {
            background-color: #a33327; 
            opacity: 0.6;
            color: white;
            padding: 50px 0px;}
  
            .content .row .col-md-10.dashbard .col-md-9.map .self_made_info h3,
            .content .row .col-md-10.dashbard .col-md-9.map .status_info h3 {
              margin: 10px 0px 10px 25px;}
  
        .content .row .col-md-10.dashbard .col-md-3.pie {
          text-align: center;
          font-size: 16px;
          padding: 5px 0px 0px 0px;
          width: max-content;}
  
        .content .row .col-md-10.dashbard .col-md-7.bar {
          width: 950px;}
  
        .content .row .col-md-10.dashbard .col-md-4.infobox {
          width: 590px;}
  
          .content .row .col-md-10.dashbard .col-md-4.infobox .well h5 {
            color: white;}
  
          .content .row .col-md-10.dashbard .col-md-4.infobox .well,
          .content .row .col-md-10.dashbard .col-md-4.infobox .panel-heading {
            background-color: rgba(140, 165, 147, 0.8);}
  
          .content .row .col-md-10.dashbard .col-md-4.infobox .well,
          .content .row .col-md-10.dashbard .col-md-4.infobox .panel.panel-primary,
          .content .row .col-md-10.dashbard .col-md-4.infobox .panel-heading {
            border-bottom-color: rgba(140, 165, 147, 0.9);
            border-left-color: rgba(140, 165, 147, 0.9);
            border-right-color: rgba(140, 165, 147, 0.9);
            border-top-color: rgba(140, 165, 147, 0.9);}
  
      .content .row #my_dataviz {
        display: flex;
        justify-content: center;
        align-items: center;
      }
  
  
  .ml1 {
    font-weight: 900;
    font-size: 3.5em;}
    .ml1 .text-wrapper {
      position: relative;
      display: inline-block;
      padding-top: 0.1em;
      padding-right: 0.05em;
      padding-bottom: 0.15em;}
    .ml1 .letters {
      display: inline-block;
      line-height: 1em;}
    .ml1 .line {
      opacity: 0;
      position: absolute;
      left: 0;
      height: 3px;
      width: 100%;
      background-color: #111;
      transform-origin: 0 0;}
    .ml1 .line1 { top: 0; }
    .ml1 .line2 { bottom: 0; }
  
  
  /* media queries - small size */
  @media (max-width: 999px) {
    .header .col-md-12 h4 {
      display: none;
    }}  
>>>>>>> c4aa41818d383fc3e4b80800caa1be97d5337dea
